@import "tailwindcss";
@source not "../../docs/wip";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "../../node_modules/pretendard/dist/web/variable/pretendardvariable.css";
@import "../../packages/design-system/src/tokens.css";
@import "../../packages/design-system/src/theme.css";
@import "../../packages/design-system/src/icons.css";
@import "../../packages/design-system/src/fonts.css";
@import "../../packages/design-system/src/typography.css";
@import "../../packages/design-system/src/button-group.css";
@import "../../packages/design-system/src/tabs.css";
@import "../../packages/design-system/src/avatar.css";
@import "../../packages/design-system/src/alert.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-family);
  --font-heading: var(--font-family);
  --font-mono: var(--font-family);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }
}
